@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e0cd67;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.test {
  width: max(30vw, 400px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  background-clip: padding-box;
  object-fit: cover;
}

.gradient::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%)
    repeat 0 0;
  z-index: 1;
}

.testelek {
  display: grid;
  grid-template-rows: repeat(1, 550px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.image-grid {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  /* ezt torolni kell */
  transition: transform 0.5s ease-in-out;
}

.item {
  background-size: cover;
  object-position: center;
}

.image-1 {
  /* the background picture */
  background-color: red;
  grid-row: 1 / 5;
  grid-column: 3 / 7;
}

.image-2 {
  /* background-image: url('./assets/funny.jpg'); */
  background-color: blue;
  grid-row: 3 / 6;
  grid-column: 2 / 4;
  z-index: 2;
}

.image-3 {
  /* background-image: url('./assets/funny.jpg'); */
  background-color: yellow;
  grid-row: 6 / 9;
  grid-column: 4 / 6;
  z-index: 2;
}

.image-4 {
  /* background-image: url('./assets/funny.jpg'); */
  background-color: purple;
  grid-row: 2 / 7;
  grid-column: 6 / 8;
  z-index: 2;
}

.mapWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.mapWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.move-up-down {
  animation: move-up-down 4s ease-in-out infinite;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
